@import "tailwindcss";

body {background: #084A97;}

@font-face {
  font-family: "luckiestGUY";
  src: url(./assets/fonts/LuckiestGuy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "fredoka";
  src: url(./assets/fonts/fredoka-one.one-regular.ttf) format("truetype");
}

@font-face {
  font-family: "inter";
  src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

@theme {
  --font-LG: luckiestGUY, "sans-serif";
  --font-FD: fredoka, "sans-serif";
  --font-IN: inter, "sans-serif";
}

